*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color:#000000;
}

body{
    background-color: #000000;
}

header,
footer{
    background-color: #4d6ed7;
}

nav{
    background-color: #56bac6;
}

section{
    background-color: #f5d34e;
}

article{
    background-color: #ea7e61;
}

aside{
    background-color: #ffffff;
}