* { 
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #000000;
}

body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 10px;
}

header,
footer {
    background-color: #4d6ed7;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #56bac6;
    height: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex: 1; 
    width: 100%;
    gap: 10px;
}

section {
    background-color: #f5d34e;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    background-color: #ea7e61;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    background-color: #ffffff;
    width: 200px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px; 
}